<main class="main-banner">
    
<div class="container">
<div class="hero-area">
    <div></div>
    <div style="width: 100%;">
        <div  class="text-center">
            <h1 class="text-white hero-text"> Find Nearby <span class="tw" #tw2> </span></h1>
        <p class="hero-text-p">
          Explore top-rated attractions, activities and more...
        </p>
        </div>

        <div class="search-box">
            <div class="box-1 text-center">
                <i class="fa  fa-search" aria-hidden="true"></i>
            </div>
            <div class="box-2">
                
                <input type="text" name="" id="" class="form-control frm-input" placeholder="What are you searching for?" aria-describedby="helpId">
    
            </div>
            <div class="box-3">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <input type="text" name="" id="" class="form-control frm-input" placeholder="Location" aria-describedby="helpId">
    
            </div>
            <div class="box-4">
           <i class="fa fa-list-ol" aria-hidden="true"></i>
                <select style="cursor: pointer;"  class="form-control frm-input" name="" id="">
                  <option>Select</option>
                
                </select>
            </div>
            <div class="box-5">
                <a name="" id="" class="btn btn-srch btn-primary" href="#" role="button">Search Now</a>
            </div>
        </div>
    </div>

</div>
  
</div>


</main>