<div class="app-banner-height-register"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 regstration-area">
      <div
        style="border-radius: 0 !important"
        class="card reg-card shadow-sm mt-5"
      >
        <div class="card-header">
          <h4>
            <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Create your
            account, It's 100% free
          </h4>
        </div>
        <div class="card-body">
          <form [formGroup]="registerForm">
            <div class="form-group row">
              <label
                for="names"
                class="col-sm-3 col-form-label col-form-label-sm"
                >Names<span class="text-danger">*</span></label
              >
              <div class="col-sm-9">
                <input
                  [ngClass]="{
                    'field-has-error': errorFields.includes('name')
                  }"
                  required
                  formControlName="name"
                  type="text"
                  class="form-control form-control"
                  id="names"
                  placeholder="John doe"
                />

                <span
                  class="text-danger"
                  *ngIf="
                    (registerFormControl.name.touched || submitted) &&
                    registerFormControl.name.errors?.required
                  "
                >
                  Name is required
                </span>
                <!-- <div *ngIf="errorFields.includes('name')">
                                <p class="form-text text-danger">
                                   <span *ngFor="let err of errorValidateObject['name']">
                                     {{err}}
                                   </span>
                                </p>
                          </div> -->
              </div>
            </div>
            <div class="form-group row">
              <label
                for="colFormLabelSm"
                class="col-sm-3 col-form-label col-form-label-sm"
                >Email Address<span class="text-danger">*</span></label
              >
              <div class="col-sm-9">
                <input
                  [ngClass]="{
                    'field-has-error': errorFields.includes('email')
                  }"
                  required
                  formControlName="email"
                  type="email"
                  class="form-control form-control"
                  id="colFormLabelSm"
                  placeholder="Johndoe@gmail.com"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    (registerFormControl.email.touched || submitted) &&
                    registerFormControl.email.errors?.required
                  "
                >
                  Email is required
                </span>

                <span
                  class="text-danger"
                  *ngIf="
                    registerFormControl.email.touched &&
                    registerFormControl.email.errors?.email
                  "
                >
                  Enter a valid email address
                </span>
                <!-- <div *ngIf="errorFields.includes('email')">
                          <p class="form-text text-danger">
                            <span *ngFor="let err of errorValidateObject['email']">
                              {{err}}
                            </span>
                         </p>
                        </div> -->
              </div>
            </div>
            <div class="form-group row">
              <label
                for="password"
                class="col-sm-3 col-form-label col-form-label-sm"
                >Password<span class="text-danger">*</span></label
              >
              <div class="col-sm-9">
                <input
                  [ngClass]="{
                    'field-has-error': errorFields.includes('password')
                  }"
                  required
                  formControlName="password"
                  type="password"
                  class="form-control form-control"
                  id="password"
                  placeholder="Password"
                />
                <small id="emailHelp" class="form-text text-muted">
                  At least 8 characters.</small
                >
                <span
                  class="text-danger"
                  *ngIf="
                    (registerFormControl.password.touched || submitted) &&
                    registerFormControl.password.errors?.required
                  "
                >
                  Password is required
                </span>
                <span
                  class="text-danger"
                  *ngIf="
                    registerFormControl.password.touched &&
                    registerFormControl.password.errors?.invalidPassword
                  "
                >
                  Password should have minimum 8 characters, at least 1
                  uppercase letter, 1 lowercase letter and 1 number
                </span>
                <!-- <div *ngIf="errorFields.includes('password')">
                                <p class="form-text text-danger">
                                  <span *ngFor="let err of errorValidateObject['password']">
                                    {{err}}
                                  </span>
                               </p>
                              </div> -->

                <br />
                <input
                  [ngClass]="{
                    'field-has-error': errorFields.includes(
                      'password_confirmation'
                    )
                  }"
                  required
                  formControlName="password_confirmation"
                  type="password"
                  class="form-control form-control"
                  id="password"
                  placeholder="Confirm password"
                />
                <!-- <div *ngIf="errorFields.includes('password_confirmation')">
                            <p class="form-text text-danger">
                              <span *ngFor="let err of errorValidateObject['password_confirmation']">
                                {{err}}
                              </span>
                           </p>
                          </div> -->

                <span
                  class="text-danger"
                  *ngIf="
                    (registerFormControl.password_confirmation.touched ||
                      submitted) &&
                    registerFormControl.password_confirmation.errors?.required
                  "
                >
                  Confirm Password is required
                </span>
                <span
                  class="text-danger"
                  *ngIf="
                    registerFormControl.password_confirmation.touched &&
                    registerFormControl.password_confirmation.errors
                      ?.passwordMismatch
                  "
                >
                  Passwords does not match
                </span>
              </div>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="gridCheck"
                />
                <label class="form-check-label" for="gridCheck">
                  I have read and agree to the Terms & Conditions
                </label>
              </div>
            </div>
            <div class="form-group">
              <button
                (click)="register()"
                class="btn btn-block rounded-btn primary-btn"
              >
                Create Account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="text-center mt-5">
        <i class="fa fa-picture-o primary-text fa-4x" aria-hidden="true"></i>
        <h4>Post a Free Classified</h4>
        <p>
          Do you have something to sell, to rent, any service to offer or a job
          offer? Post it at LaraClassified, its free, for local business and
          very easy to use!
        </p>
      </div>
      <div class="text-center">
        <i
          class="fa text-warning fa-pencil-square-o fa-4x"
          aria-hidden="true"
        ></i>

        <h4>Create and Manage Items</h4>
        <p>
          Become a best seller or buyer. Create and Manage your ads. Repost your
          old ads, etc.
        </p>
      </div>
      <div class="text-center">
        <i class="fa text-success fa-heart-o fa-4x" aria-hidden="true"></i>

        <h4>Create your Favorite ads list.</h4>
        <p>
          Create your Favorite ads list. And save your search. Don't forget any
          deal.
        </p>
      </div>
    </div>
  </div>
</div>
