<div class="app-banner-height-register"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 mt-5 shadow-lg">

            <i (click)="goBack()" title="Return to the previous page" style="cursor: pointer;" class="fa fa-arrow-left primary-text" aria-hidden="true"></i>
            <div class="form-group">
              <label for="">Email Address</label>
              <input type="email"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Enter login email address, An email with password reset instructions will be sent to it.
            </small>
            </div>
            <div class="form-group">
                <button class="primary-btn btn btn-block btn-rounded">Submit</button>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>