.section-2{
    height: 450px;
    background-color: var(--secondaryT);
    margin-top: 20px;
}
.item_card{
    box-shadow: 5px 5px var(--primaryC) !important;
    cursor: pointer;
}
.card_extras{
    display: flex;
    justify-content: space-between;
}
.card_extra_1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.extra_cycle{
  
    padding: 5px;

    font-size: 13px;
    width: 100px;

    color: var(--primaryC);
}
.card_details{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rating{
    color: var(--tertiaryC);
}
.fav-btn{
    position: absolute;
    top: 12px;
    width: 30px;
    height: 30px;
    right: 20px;
    border-radius: 50%;
    background-color:rgba(0, 0, 0, .6);
    color: var(--primaryT);
    display: flex;
    align-items: center;
    justify-content: center;
}
.fav-btn:hover{
    color: var(--primaryC);
}