<app-home-banner></app-home-banner>

<div  class="section-1 ">
    <div class="container mt-3">
        <div class="section-1-header text-center">
            <h3>Your Small Business Start With Vesax</h3>
        </div>
        <div class="text-center container">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut molestias ad expedita voluptatem iure? Harum perferendis eveniet deleniti velit corrupti facilis sit praesentium neque alias architecto consequuntur, earum, natus expedita.
            </p>
        </div>
    </div>
</div>
<div class="section-2  mt-5">
    <div class="container">
        <div class="section-2-header mb-5 text-center">
            <h3 class="text-bold">Recent Ads</h3>
        </div>
       
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
              <div  class="card item_card  shadow-sm">
                  <img class="card-img-top" src="/assets/images/2.jpg" alt="">
                  <span class="fav-btn">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                </span>
                  <div routerLink="/listing/the-beverly-hills-hotel" class="card-body">
                      <div class="card_extras">
                          <div class="card_extra_1">
                              <div>
                                  <span class="extra_cycle shadow-lg">
                                      <i class="fa fa-list-ul" aria-hidden="true"></i>
                                  </span>
                              </div>
                              <div>Restaurant</div>
                          </div>
                          <div class="card_extra_1">
                            <div>
                                <span class="extra_cycle shadow-lg">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div>Los Angeles</div>
                          </div>
                      </div>
                      <h6 class="card-title">The Beverly Hills Hotel</h6>
                      <div class="card_details">
                          <div style="font-weight: 700;font-size: 14px;">
                              <i class="fa rating fa-star" aria-hidden="true"></i>
                              <i class="fa rating fa-star" aria-hidden="true"></i>
                              <i class="fa rating fa-star" aria-hidden="true"></i>
                              <i class="fa rating fa-star" aria-hidden="true"></i>
                              <i class="fa rating fa-star-half" aria-hidden="true"></i>
                              (10)
                          </div>
                          <div style="font-weight: 700;font-size: 14px;" class="text-bold">Starting from $500</div>
                      </div>
                  </div>
              </div>
          </ng-template>  
          <ng-template carouselSlide>
            <div  class="card item_card  shadow-sm">
                <img class="card-img-top" src="/assets/images/4.jpg" alt="">
                <div class="card-body">
                    <div class="card_extras">
                        <div class="card_extra_1">
                            <div>
                                <span class="extra_cycle shadow-lg">
                                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div>Restaurant</div>
                        </div>
                        <div class="card_extra_1">
                          <div>
                              <span class="extra_cycle shadow-lg">
                                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                              </span>
                          </div>
                          <div>Los Angeles</div>
                        </div>
                    </div>
                    <h6 class="card-title">The Beverly Hills Hotel</h6>
                    <div class="card_details">
                        <div style="font-weight: 700;font-size: 14px;">
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star-half" aria-hidden="true"></i>
                            (10)
                        </div>
                        <div style="font-weight: 700;font-size: 14px;" class="text-bold">Starting from $500</div>
                    </div>
                </div>
            </div>
          </ng-template>  
          <ng-template carouselSlide>
            <div  class="card item_card  shadow-sm">
                <img class="card-img-top" src="/assets/images/5.jpg" alt="">
                <div class="card-body">
                    <div class="card_extras">
                        <div class="card_extra_1">
                            <div>
                                <span class="extra_cycle shadow-lg">
                                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div>Restaurant</div>
                        </div>
                        <div class="card_extra_1">
                          <div>
                              <span class="extra_cycle shadow-lg">
                                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                              </span>
                          </div>
                          <div>Los Angeles</div>
                        </div>
                    </div>
                    <h6 class="card-title">The Beverly Hills Hotel</h6>
                    <div class="card_details">
                        <div style="font-weight: 700;font-size: 14px;">
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star-half" aria-hidden="true"></i>
                            (10)
                        </div>
                        <div style="font-weight: 700;font-size: 14px;" class="text-bold">Starting from $500</div>
                    </div>
                </div>
            </div>
          </ng-template>  
          <ng-template carouselSlide>
            <div  class="card item_card  shadow-sm">
                <img class="card-img-top" src="/assets/images/6.jpg" alt="">
                <div class="card-body">
                    <div class="card_extras">
                        <div class="card_extra_1">
                            <div>
                                <span class="extra_cycle shadow-lg">
                                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div>Restaurant</div>
                        </div>
                        <div class="card_extra_1">
                          <div>
                              <span class="extra_cycle shadow-lg">
                                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                              </span>
                          </div>
                          <div>Los Angeles</div>
                        </div>
                    </div>
                    <h6 class="card-title">The Beverly Hills Hotel</h6>
                    <div class="card_details">
                        <div style="font-weight: 700;font-size: 14px;">
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star-half" aria-hidden="true"></i>
                            (10)
                        </div>
                        <div style="font-weight: 700;font-size: 14px;" class="text-bold">Starting from $500</div>
                    </div>
                </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div  class="card item_card  shadow-sm">
                <img class="card-img-top" src="/assets/images/7.jpg" alt="">
                <div class="card-body">
                    <div class="card_extras">
                        <div class="card_extra_1">
                            <div>
                                <span class="extra_cycle shadow-lg">
                                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div>Restaurant</div>
                        </div>
                        <div class="card_extra_1">
                          <div>
                              <span class="extra_cycle shadow-lg">
                                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                              </span>
                          </div>
                          <div>Los Angeles</div>
                        </div>
                    </div>
                    <h6 class="card-title">The Beverly Hills Hotel</h6>
                    <div class="card_details">
                        <div style="font-weight: 700;font-size: 14px;">
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star-half" aria-hidden="true"></i>
                            (10)
                        </div>
                        <div style="font-weight: 700;font-size: 14px;" class="text-bold">Starting from $500</div>
                    </div>
                </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div  class="card item_card  shadow-sm">
                <img class="card-img-top" src="/assets/images/8.jpg" alt="">
                
                <div class="card-body">
                    <div class="card_extras">
                        <div class="card_extra_1">
                            <div>
                                <span class="extra_cycle shadow-lg">
                                    <i class="fa fa-list-ul" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div>Restaurant</div>
                        </div>
                        <div class="card_extra_1">
                          <div>
                              <span class="extra_cycle shadow-lg">
                                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                              </span>
                          </div>
                          <div>Los Angeles</div>
                        </div>
                    </div>
                    <h6 class="card-title">The Beverly Hills Hotel</h6>
                    <div class="card_details">
                        <div style="font-weight: 700;font-size: 14px;">
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star" aria-hidden="true"></i>
                            <i class="fa rating fa-star-half" aria-hidden="true"></i>
                            (10)
                        </div>
                        <div style="font-weight: 700;font-size: 14px;" class="text-bold">Starting from $500</div>
                    </div>
                </div>
            </div>
          </ng-template>
        </owl-carousel-o>
        
    </div>
</div>